<div class="container">
  <div
    class="p-1 py-3 mt-2 px-md-3 d-flex flex-column flex-md-row gap-1 gap-md-4 align-items-center"
  >
    <h1 class="highlight fw-semibold text-capitalize color-black">Services</h1>
    <p class="col-md-8 fw-medium">
      At our digital marketing agency, we offer a range of services to <br />
      help businesses grow and succeed online. These services include:
    </p>
  </div>
  <div
    class="services d-flex flex-column justify-content-center align-items-center flex-md-row flex-wrap gap-2 gap-md-3 gap-lg-4"
  >
    <div
      *ngFor="let data of datas"
      [ngClass]="data.color"
      class="my-card gap-3 d-flex p-4 p-md-4 p-lg-5"
    >
      <div
        class="my-card-content d-flex flex-column justify-content-between align-items-start gap-3 gap-lg-4"
      >
        <h3 class="fw-semibold highlight text-capitalize">
          {{ data.title }}
          <br />
          {{ data.title2 }}
        </h3>
        <div class="link-btn">
          <div class="arrow-icon">-></div>
          <p>learn more</p>
        </div>
      </div>
      <div class="img-div">
        <img class="" [src]="data.imgPath" alt="" />
      </div>
    </div>
  </div>
</div>
