<div
  class="banner container px-2 px-lg-5 d-flex flex-column flex-lg-row gap-5 align-items-center justify-content-center"
>
  <div class="col-lg-6 d-flex flex-column gap-2 justify-content-center">
    <h1 class="fw-semibold color-black text-capitalize">
      Navigating the digital landscape for success
    </h1>
    <p class="fw-medium">
      Our digital marketing agency helps businesses grow and succeed online
      through a range of services including SEO, PPC, social media marketing,
      and content creation.
    </p>
    <button class="btn-dark d-block mx-auto mx-md-0">
      Book a consultation
    </button>
  </div>
  <div class="col-6 d-flex justify-content-center align-items-center">
    <img class="" src="../../assets/banner-img.png" alt="" />
  </div>
</div>
<div class="container img-showcase p-2 d-flex flex-wrap">
  <div><img src="../../assets/comp1.png" alt="" /></div>
  <div><img src="../../assets/comp5.png" alt="" /></div>
  <div><img src="../../assets/comp6.png" alt="" /></div>
  <div><img src="../../assets/comp1.png" alt="" /></div>
  <div><img src="../../assets/comp5.png" alt="" /></div>
  <div><img src="../../assets/comp6.png" alt="" /></div>
</div>
